# https://github.com/dependabot/dependabot-core/issues/11496
# if this is missing dependabot seemed to use the @mycustom scoped one for public packages also
registry=https://registry.npmjs.org/
@mycustom:registry=https://npm.pkg.github.com
# To bypass strict version blocking and force changes through when npm throws peer dependency conflicts, use the --legacy-peer-deps flag.
# legacy-peer-deps=true
# Instruct the package manager to ignore the rigid internal node-gyp bundle completely and route all compile actions through a separate instance where the overrides actually work.
# node-gyp=./node_modules/.bin/node-gyp
