# https://github.com/dependabot/dependabot-core/issues/11496
# if this is missing dependabot seemed to use the @mycustom scoped one for public packages also
registry=https://registry.npmjs.org/
@mycustom:registry=https://npm.pkg.github.com
