# Ignore build artifacts
build/
coverage/
dist/
out/

# Ignore dependency directories and lock files
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore specific file types
**/*.html
**/*.log
**/*.csv

# Ignore specific files and directories
.DS_Store
.licenses/
badges/

CHANGELOG.md
README.md
