#!/bin/sh

set -eu

script_dir="$(cd "$(dirname "$0")" && pwd)"
project_dir="$(cd "$script_dir/.." && pwd)"

export TOKEN="${GITHUB_TOKEN-}"

github_token() {
	set +e
	output=$(sh ../local-github-testing/generate-app-token/main.sh true)
	status=$?
	set -e
	if [ $status -ne 0 ]; then
		cat <<EOF
$output
EOF
		return $status
	else
		TOKEN="$(gh auth token)"
		gh auth logout -h github.com -u organization-project-management[bot] >/dev/null 2>&1
	fi
	unset output status
}

test_local_action() {
	set -x

	npm run local-action
}

test_local_action_inline() {
	env "INPUT_GITHUB-TOKEN=$GITHUB_TOKEN" bash -s <<'EOF'
test_local_action() {
	set -x

	npm run local-action
}
test_local_action
EOF
}

get_symbols() {
	[ -n "${1-}" ] && [ -n "${2-}" ] || return
	echo "$1" | grep -o "$2" | tr -d '\n' | xargs echo
}

copy_script() {
	if [ "$(basename "$0" | cut -d'.' -f2)" = "example" ]; then
		old_file_name="$(basename "$0")"
		new_file_name="$(echo "$old_file_name" | cut -d'.' -f1)"
		scripts_dir="$(basename "$script_dir")"
		if [ ! -f "$script_dir/$new_file_name" ]; then
			printf '\033[0;34m%s\033[0m\n\t' "Creating '$scripts_dir/$new_file_name' from example ..."
			output=$( (
				set -x
				cp "$script_dir/$old_file_name" "$script_dir/$new_file_name"
			) 2>&1)
			symbols="$(get_symbols "$output" "+")"
			echo "$output" | sed "s|$script_dir|./$scripts_dir|g" | sed "s|$symbols|+|g"
		else
			printf '\033[0;33m%s\033[0m\n' "A './$scripts_dir/$new_file_name' script already exists!"
		fi
		printf '\033[0;31m%s\033[0m\n' "Please run './$scripts_dir/$new_file_name' instead."
		exit
	fi
}

add_token_to_env() {
	if grep -q "INPUT_GITHUB-TOKEN" .env; then
		sed -i '' "s|INPUT_GITHUB-TOKEN=.*|INPUT_GITHUB-TOKEN=$GITHUB_TOKEN|" .env
	else
		echo "INPUT_GITHUB-TOKEN=$GITHUB_TOKEN" >>.env
	fi
}

main() {
	printf '\033[0;36m%s\033[0m\n' "Project directory: $project_dir"
	copy_script
	[ -n "${GITHUB_TOKEN-}" ] || github_token
	GITHUB_TOKEN="${GITHUB_TOKEN:-$TOKEN}"
	# add_token_to_env
	# test_local_action
	test_local_action_inline
}

main
